body{
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Alkatra', cursive; */
}
#header{
    background-color: #ffffff;
    box-shadow: 0 4px 10px -5px gray;
    position: sticky;
    top: 0px;
}
.imagine a{
    color: black;
    /* display: inline-block; */
    float: left;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 80px;
}
.imagine span{
    color: #3a86f7;
    font-size: 40px;
}
ul{
    list-style: none;
    text-align: right;
    margin: 10px 20px;
}
li{
    margin: 20px;
    font-size: 15px;
    display: inline-block;
    font-size: 20px;  
}
li a{
    text-decoration: none;
    color: black;
}
li a span{
    color: rgba(46, 84, 255, 0.808);
}
.container{
    position: static;
}
.child-container{
    float: left;
    width: 500px;
    margin-top: 120px;
    padding: 20px 80px;
}
.container div img{
    width: 550px;
    height: 500px;
    position:-webkit-sticky;
    right: -180px;
    margin-top: 70px;
}
.child-container h1{

    font-size: 50px;
    color: #3a86f7;
    margin: -5px;
}
.child-container p{
    font-size: 20px;
    margin-bottom: 50px;
}
.child-container h3 a{
    font-family: sans-serif;
    padding: 13px 30px;
    background-color: #3a86f7c0;
    border-radius: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.child-container h3 a:hover{
    top: -2px;
    box-shadow: 0px 1px 15px #7aafff;
}


.imagin{
    text-align: center;
    margin: 60px 0;
}
.imagin h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.imagin p{
    font-size: 17px;
    margin-top: -20px;
    color: #5f5e5e;
}
.margin-head{
    margin: 120px 47px;
    display: flex;
    text-align: center;
}
.imagin-content{
    margin: 0 -23px 0 0;
    margin-left: 32px;
    margin-right: 2px;
    padding: 21px 20px 20px 16px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(226, 224, 224, 0.315);
    transition: 0.2s;
}
.imagin-content h4{
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}
.imagin-content h5{
    color: #5f5e5e;
    font-size: 13px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}
.imagin-content p a{
    text-decoration: none;
    color: #4690ff;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    position: relative;
}
.icon i{
    padding: 25px;
    color: #ffffff;
    background-color: #4a92ff;
    border-radius: 50%;
    margin: -70px -39px;
    position: absolute;
    font-size: 30px;
}
.imagin-content:hover{
    margin-top: -10px;
    background-color:#4a92ff;
    color: white;
}
.imagin-content:hover h5, .imagin-content:hover p a{
    color: white;
}
.imagin-content:hover i{
    transition: 0.2s;
}
.imagin-content:hover i{
    background-color: white;
    color:#4a92ff;
}